mule_db/src/main/mule/mule_db2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="a6a70be0-b294-405d-95f2-277f40755fee" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="23246417-4f08-469d-b576-d8ff74f7c072" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="demo" />
	</db:config>
	<flow name="mule_db2Flow" doc:id="6fafda41-065d-4100-bb7c-a0173008c748" >
		<http:listener doc:name="Listener" doc:id="039a659f-d0a3-4096-8dd6-55acc2e1ce6b" config-ref="HTTP_Listener_config1" path="/update" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="61347415-b3c8-4b80-acf4-9fd69ec8475c" message='#["Flow started to update the database"]'/>
		<db:update doc:name="Update" doc:id="48d24942-e11a-4cad-b127-dae18c8d1cac" config-ref="Database_Config1">
			<db:sql ><![CDATA[update demo.student1 set firstname=:firstname where palce=:place;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	firstname:payload.firstName,
	place:payload.nationalIDType
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="c52771fb-237b-4949-96b8-03bedc220b12" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ef84de4b-8db3-4992-8daa-4dd224011586" message='#["flow ended"]'/>
	</flow>
</mule>
